<section style="background-color:   #e9eef5;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1  class="fw-bold mb-0 text-black">Purpose</h1>
                      <mat-form-field style="text-align: center;margin-right: 50px;" appearance="fill">
                        <mat-select value="" [(ngModel)]="this.purpose" [ngModelOptions]="{standalone:true}" >
                          <mat-option *ngFor="let purp of this.Purposes" (click)="this.Recommend(purp)" [value]="purp">{{purp}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <hr class="my-4">
                    <div class="pt-5">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
