  <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 pb-4">
        <div class="input-icons">
          <i class="fa fa-search icon" (click)="this.ShopSrv.ShopProductsFilter(this.ShopSrv.Category,this.ShopSrv.SearchText)">
        </i>
          <input (input)="this.ShopSrv.ShopProductsFilter(this.ShopSrv.Category,this.ShopSrv.SearchText)"[(ngModel)]="this.ShopSrv.SearchText" [ngModelOptions]="{standalone:true}" class="input-field"
                 type="text"
                 placeholder="Search...">
      </div>
      </div>
  </div>

    <div class="row">

      <div class="col-md-4" *ngFor="let item of this.ShopSrv.filteredProducts">

          <div class="card mb-4 product-wap rounded-0">
              <div class="card rounded-0">
                  <img class="card-img rounded-0 img-fluid" src="{{item.imageUrl}}">
                  <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                      <ul class="list-unstyled">
                          <li><a class="btn btn-primary text-white" href="shop-single.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>
                        </a></li>
                          <li><a class="btn btn-primary text-white mt-2" (click)="this.NavigateToShopSingle(item)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                          </svg>
                        </a></li>
                          <li>
                            <a (click)="this.CartSrv.addToCart(item,1)" (click)="this.CartSrv.openSnackBar();" class="btn btn-primary text-white mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>
                        </a>
                      </li>
                      </ul>
                  </div>
              </div>
              <div class="card-body">
                  <a class="h3 text-decoration-none">{{item.name}}</a>

                  <br>
                  <br>
                  
                  <p class="text-center mb-0">{{item.price}} EGP</p>
              </div>
          </div>
      </div>
      
      <mat-paginator [pageSizeOptions]="[9,12,15,18,21,24,27]" (page)="paginate($event)" >
      </mat-paginator>
      <!--

      <p-paginator [rows]="10" [totalRecords]="this.totalProducts" [first]="this.first" (onPageChange)="this.paginate($event)">
      </p-paginator>
-->
    </div>

