
  <div class="row">
    <h1 class="h2 pb-4">Categories</h1>
    <ul class="list-unstyled templatemo-accordion">
      <li class="pb-3" >
        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" (click)="GetAllProducts()">
            All
            <i class="fa fa-fw fa-chevron-circle-right mt-1"></i>
        </a>
    </li>
        <li class="pb-3" *ngFor="let category of this.Categories" >
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" (click)="this.ShopSrv.ShopProductsFilter(category)">
                {{category}}
                <i class="fa fa-fw fa-chevron-circle-right mt-1"></i>
            </a>
        </li>


    </ul>
</div>