<section class="bg-primary py-5">
  <div class="container">
      <div class="row align-items-center py-5">
          <div class="col-md-8 text-white">
              <h1>About Us</h1>
              <p>
                Welcome to our hardware ecommerce website! We are dedicated to providing our customers with the best selection of high-quality computer hardware at competitive prices.

                Our goal is to make building your dream PC an enjoyable and hassle-free experience. That's why we offer a wide range of products from trusted brands, including CPUs, motherboards, graphics cards, storage devices, and more.
                
                We understand that choosing the right hardware can be overwhelming, which is why we have a knowledgeable and friendly customer support team ready to assist you with any questions or concerns you may have.
                
                We are committed to providing fast and reliable shipping, secure payment options, and a hassle-free return policy. Thank you for choosing us as your go-to destination for all your computer hardware needs!
                
                              </p>
          </div>
          <div class="col-md-4">
              <img src="assets/img/about-hero.svg" alt="About Hero">
          </div>
      </div>
  </div>
</section>
